* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: #333;
  padding: 0.5rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  background-color: #4CAF50;
}

.content-wrapper {
  display: flex;
  margin: 20px;
}

aside {
  background-color: #f4f4f4;
  padding: 1rem;
  width: 250px;
  margin-right: 20px;
}

main {
  flex-grow: 1;
}

.profiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.profile-card {
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: center;
}

.profile-card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.profile-1{
  height: 150px;
  width: 150px;
}


footer {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  background-color: #4CAF50;
  text-align: center;
}

.footer-links a:hover {
  background-color: #45a049;
}





